// app global css in SCSS form
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@200&family=Outfit:wght@200&display=swap');

* {
  font-family: Outfit, sans-serif;
  font-style: normal;
  text-decoration: none;
}