// app global css in SCSS form
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;600;700&display=swap');

* {
  font-family: Outfit, sans-serif;
  font-style: normal;
  text-decoration: none;
}
.sessao{
  color: var(--Cor-2, #000);
  text-align: center;
  font-family: Outfit;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}